html, body {
    /*max-width: 100%;*/
    /*overflow-x: hidden;*/
}

#report_learnbook_reportserverside tr.suspended a {
	color: grey;
}

#learnbook_report_courses, #learnbook_report_cohorts, #report_learnbook_report_activities, #learnbook_report_status {
	min-width: 100%;
	margin-left: 5px;
}

#superreport tr.suspended td a {
	color: grey;
}

#superreport {
	display: none;
}

button#runreport {
    margin-top: 13px;
}

md-dialog.info md-dialog-content {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    padding: 20px;
}

div#builder {
    margin-right: 10px;
}

span.select2.select2-container.select2-container--default{
	width: 100% !important;
}

#learnbook_report_savedreports_reportname, #learnbook_report_savedreports_email, #learnbook_report_daterange{
	height: 30px !important;
}
.dataTables_wrapper .dataTables_filter input{
	height: 30px !important;
}