<md-dialog aria-label="Add a User"  ng-cloak>
  <form name="notificationForm">
    <md-toolbar>
      <div class="md-toolbar-tools primarycolor">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
			<i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="width:800px;height:1210px; ">





      <div class="md-dialog-content">


      <div class="row">
      
            <div class="form-group">
                
                

                <label class="col-sm-2 control-label" for="notificationname">Name of Notification</label>
                
                <div class="col-sm-10">
                  <input type="text" ng-model="notification.name" required="true" class="form-control" id="notificationname" placeholder="Name" required>
                </div>

            </div>
      </div>
      <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="ccaddress">CC Email Address:</label>

              <div class="col-sm-10">

                <input type="text" class="form-control" ng-model="notification.cc" id="ccaddress" placeholder="CC Address">
          </div>

            </div>
                
      </div>

      <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="subject">Subject:</label>

              <div class="col-sm-10">

                <input type="text" class="form-control" required="true" ng-model="notification.subject" id="subject" placeholder="Subject...">
          </div>

            </div>
                
      </div>


      <div class="row">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="startdate">Duration:</label>

              <div class="col-sm-10 row">
                  <div class="col-md-6">
                    <md-datepicker name="startdate" required="true" ng-change="saveStartDate()" ng-model="notification.startdateobject" md-placeholder="Start date"></md-datepicker>
                  </div>
                  <div class="col-md-6">
                    <md-datepicker name="enddate" required="true" ng-change="saveEndDate()" ng-model="notification.enddateobject" md-placeholder="End date"></md-datepicker>
                  </div>
              </div>

            </div>
                
      </div>

    



  <br>
    <p>Available placeholders : </p>
		<md-chips ng-model="variables" readonly="true">
           <md-chip-template >
               <small ng-click="addTemplate($chip.name)">
                 {{$chip.name}}
               </small>
             </md-chip-template>
		</md-chips>



		<br>
		<div class="col-md-12">
			  <div class="form-group">
			  <label for="exampleInputFile">Edit Email Text</label>
				<textarea  id="welcomeEmailText" required="true" ng-model="notification.body" class="form-control" rows="10"></textarea>
			  <p class="help-block">Enter text to send to new users.</p>
			  </div>
		</div>


      <div class="row">
            <div class="form-group">
              <label class="col-sm-6 control-label" for="sendinterval">Notification Interval:</label>

              <div class="col-sm-6">

                <select name="sendinterval" required="true" ng-model="notification.interval">
                  <option value="first day of this month">First Day of Month</option>
                  <option value="last day of this month">Last Day of Month</option>
                  <option value="monday">Every Monday</option>
                  <option value="tuesday">Every Tuesday</option>
                  <option value="wednesday">Every Wednesday</option>
                  <option value="thursday">Every Thursday</option>
                  <option value="friday">Every Friday</option>
                  <option value="saturday">Every Saturday</option>
                  <option value="sunday">Every Sunday</option>
                  <option value="today">Everyday</option>
                </select>

          </div>

            </div>
      </div>
        <div class="row">
              <div class="form-group">
                <label class="col-sm-6 control-label" for="maxsend">Maximum amount of times to send email notification:</label>

                <div class="col-sm-6">

                  <select name="maxsend" ng-model="notification.maxsend">
                    <option value="1">Send Once</option>
                    <option value="2">Send Two Times</option>
                    <option value="3">Send Three Times</option>
                    <option value="4">Send Four Times</option>
                    <option value="5">Send Five Times</option>
                    <option value="6">Send Six Times</option>
                    <option value="7">Send Seven Times</option>
                    <option value="8">Send Eight Times</option>
                    <option value="9">Send Nine Times</option>
                    <option value="10">Send Ten Times</option>
                    <option value="-1">Until End Date</option>
                  </select>

                </div>

              </div>
        </div>  


        <div class="row">
              <div class="form-group">
                <label class="col-sm-6 control-label" for="active">Active</label>

                <div class="col-sm-6">

                 <div class="checkbox">

                     <input name="active" type="checkbox" style="margin-left: 0;" ng-model="notification.active" ng-checked="notification.active == 1">
                     
                 </div>

                </div>

              </div>
        </div>  





			  
		<div class="pull-right" style="margin-bottom: 30px; ">

			<button ng-if="editing" ng-click="saveNotification()" ng-disabled="notificationForm.$invalid" class="btn btn-default">Save</button>
      <button ng-if="!editing" ng-click="previewNotification()" ng-disabled="notificationForm.$invalid" class="btn btn-default">Save</button>
			<button ng-click="closeDialog()" type="submit" class="btn btn-warning">Cancel</button>
		</div>
      </div>
    </md-dialog-content>

  </form>
</md-dialog>